html, body {
    margin: 0;
    font-family: Futura, "Trebuchet MS", Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    font-size: 19px;
    font-weight:light;
}

.header {
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.logo {
    display:block;
    margin: 0 auto;
    width: 350px;
    height: 120px;
}

.centered-wrapper {
    width: 985px;
    margin-left: auto;
    margin-right: auto;
}


/*
Columns
*/
.columns {
    overflow:hidden;
}

.column {
    margin-right: 35px;
    width: 305px;
    float: left;
}

.columns .column:nth-child(3n){
    margin-right: 0;
}


/*
Post Preview
*/
.post-preview {
    display: block;
    margin:0 35px 35px 0;
}

.post-preview-inner-wrapper{
    width: 1020px;
}


/*
Post
*/
.post {
    width: 666px;
    margin: 0 auto 50px;
}

.post h1 {
    text-align: center;
}

.post img {
    max-width: 100%;
    height: auto;
}


/*
Footer
*/
.footer {
    margin-bottom: 100px;
}
