<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luisa Kahlfedt</title>
    <meta name="google-site-verification" content="xSXGzzw6qLmvCDkIiV94U4fVuwuZ6uCIXM8gubrIoMo" />
    <link rel="stylesheet" href="/static/css/style.css" charset="utf-8">
</head>
<body>

    <div class="header centered-wrapper">
        <a href="/" class="logo">
            Luisa Kahlfeldt
        </a>
    </div>

    <div class="centered-wrapper">
        {{ content }}
    </div>

    <div class="footer columns centered-wrapper">

        <div class="column column-double">
            <h3>about me</h3>
            <p>Luisa Kahlfeldt is a product and furniture designer. Originally from Berlin, she has studied at Central Saint Martins in London where she graduated with a First Class (Hons) Bachelor in Industrial Design. After graduating in 2014 she was awarded a Designer Residence scholarship at the <a href="https://www.bauhaus-dessau.de/studio-1-die-offene-kuche-proposal-for-a-utensil-library.html">Bauhaus Foundation in Dessau</a>. Since then she has gained practical experience working as a designer for <a href="https://www.tomdixon.net">Tom Dixon</a> and <a href="http://www.barberosgerby.com">Barber Osgerby</a>. Refocusing on her personal development and aspirations, Luisa is currently enrolled in her masters degree at the <a href="http://www.ecal.ch/en/100/homepage/">écal</a> in Lausanne, where she will graduate in 2019.</p>
            <p>Feel free to contact me with any questions or comments.</p>
        </div>

        <div class="column column-last">
            <h3>info</h3>
            <p>hello(at)luisakahlfeldt.com</p>
            <p><a href="/2014/06/01/press.html">Press Clippings</a></p>
        </div>

    </div>

    <div class="centered-wrapper copyright">Luisa Kahlfeldt, 2017</div>

    <script type="text/javascript" src="/static/scripts/isotope.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>
</body>
</html>
