<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luisa Kahlfedt</title>

    <link rel="stylesheet" href="/static/css/style.css" charset="utf-8">
</head>
<body>

    <div class="header centered-wrapper">
        <a href="/" class="logo">
            <img src="/static/images/logo.png" />
        </a>
    </div>

    <div class="centered-wrapper">
        {{ content }}
    </div>

    <div class="footer columns centered-wrapper">

        <div class="column column-double">
            <h3>About Me</h3>
            <p>Hello there! This is the online portfolio of Luisa Kahlfeldt. Born in Berlin, I recently graduated from Central Saint Martins in London with a BA(Hons) in Product Design. Here, I worked on independent design projects as well as collaborating with external clients, such as Italian lighting company <a href="http://www.luceplan.com/Site/index.php?intLangID=1">Luceplan</a>. During my studies, I gained practical experiences while working with <a href=http://www.aisslinger.de>Studio Werner Aisslinger</a> in Berlin. This summer, I spent three months as a <a href="http://www.bauhaus-dessau.de/designers-in-residence.html">Designer in Residence at the Bauhaus in Dessau</a>, which invites young designers to deal with current design issues and engage creatively with the legacy of modernity. Back in London, I currently work as a studio assistant for <a href=http://www.woodlondon.co.uk>Bethan Laura Wood</a>.
            <p>For more information, click here for my CV.</p>
            <p>Feel free to contact me with any questions or comments.</p>

        </div>

        <div class="column column-last">
            <h3>Contact</h3>
            <p>Luisa Kahlfeldt</p>
            <p>hello(at)luisakahlfeldt.com</p>
            <p>+44 (0)7825 2040 81</p>
            <p><a href="https://www.linkedin.com/pub/luisa-kahlfeldt/2b/702/917">LinkedIn</a></p>
            <p><a href="http://instagram.com/luisak">Instagram</a></p>
        </div>





    </div>

    <script type="text/javascript" src="/static/scripts/isotope.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>
</body>
</html>
