<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luisa Kahlfedt</title>

    <link rel="stylesheet" href="/static/css/style.css" charset="utf-8">
</head>
<body>

    <div class="header centered-wrapper">
        <a href="/">Luisa Kahlfeldt</a>
    </div>

    <div class="centered-wrapper">
        {{ content }}
    </div>

    <div class="footer columns centered-wrapper">
        <div class="column">
            Hello.
        </div>

        <div class="column">
            Hello.
        </div>

        <div class="column">
            Hello.
        </div>
    </div>

    <script type="text/javascript" src="/static/scripts/isotope.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>
</body>
</html>
